* {
  box-sizing: border-box;
  color: #f1f1f1;
}

/* Nav Links */
a {
  font-size: 1.75em;
  font-family: "Raleway", "Roboto", sans-serif;
}

/* Computer Image Stacking */
.scale-img {
  width: 100%;
  height: auto;
}

.screen-box {
  box-sizing: content-box;
  padding: 20.2% 0;
}

.image-stack::after {
  content: " ";
  display: table;
  clear: both;
}

.image-stack__item--top {
  float: left;
  width: 75.7%;
  margin-right: -100%;
  padding-top: 6%;
  padding-left: 24.4%;
  position: relative;
  z-index: 1;
}

.image-stack__item--bottom {
  float: right;
  width: 100%;
}

/* Computer Screen Content */
.screen-text {
  font-size: 1.8vw;
}

.screen-button {
  font-size: 2vw;
  border-radius: 10px;
}

/* Self-Description */
.self-description {
  font-size: 1.75em;
}

@media only screen and (max-width: 600px) {
  .self-description {
    font-size: 1.25em;
  }
  .tech-card {
    display: block;
  }
}

/* Shifted Row */
.shifted-row {
  transform: translateY(-75px);
}

/* Tech Cards */
.tech-card {
  box-shadow: 2px 4px 10px rgba(39, 39, 39, 0.533);
  display: none;
}

@media only screen and (max-width: 992px) {
  .tech-card {
    display: block;
  }
}

.tech-card-footer {
  padding: 5% 15%;
}

/* Contact-box */
.contact-box {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1%;
}

@media only screen and (max-width: 992px) {
  .contact-box {
    width: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .contact-box {
    width: 100%;
  }
}

/* === PROJECTS PAGE === */
/* Featured Panel */
#featured {
  border-radius: 15px;
}

/* Featured Image */
#featured-image {
  border-radius: 15px;
  margin: 15px;
}

/* Featured Tech Buttons */
#featured-tech-cont {
  margin: 15px auto;
  font-size: 0.85em;
}

.featured-tech {
  margin: 12px;
  border-radius: 15px;
  color: #fff;
}

.featured-tech-span {
  padding: 5px 10px;
  font-weight: 700;
  font-family:'Tahoma', 'Arial Narrow', Arial, sans-serif;
}

.yelp {
  background-color: #C41200
}

.handlebars {
  color: #fff;
  background-color: #df691a;
}

.spotify {
  color: #191414;
  background-color: #1DB954;
}

.featured-link {
  margin: 20px 5px;
  padding: 10px;
  min-width: 25%;
  font-size: 1.25em;
  border-radius: 15px;
}

/* Project Card */
.project-card {
  padding: 15px;
}

/* Project Card Image */
.project-card-img {
  width: 100%;
  height: auto;
}

/* ==== ANIMATIONS ==== */

/* Simple Fade In */
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.fade-in-fast {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade In and Up */
.fade-rise {
  animation: fade-in-move-up 1s;
}

@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Grow */
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  box-shadow: -5px 5px 5px;
}
