* {
  box-sizing: border-box;
  color: #f1f1f1;
}

/* Nav Links */
a {
  font-size: 1.75em;
  font-family: "Raleway", "Roboto", sans-serif;
}

/* Computer Image Stacking */
.scale-img {
  display: block;
  width: 100%;
}

.screen-box {
  box-sizing: content-box;
  padding: 20.2% 0;
}

.image-stack::after {
  content: " ";
  display: table;
  clear: both;
}

.image-stack__item--top {
  float: left;
  width: 75.7%;
  margin-right: -100%;
  padding-top: 6%;
  padding-left: 24.4%;
  position: relative;
  z-index: 1;
}

.image-stack__item--bottom {
  float: right;
  width: 100%;
}

/* Computer Screen Content */
.screen-text {
  font-size: 1.5vw;
}

.screen-button {
  font-size: 2vw;
  border-radius: 5% 2%;
}

/* Self-Description */
.self-description {
  font-size: 1.75em
}

@media only screen and (max-width: 600px) {
  .self-description {
    font-size: 1.25em
  }
}

/* Shifted Row */
.shifted-row {
  transform: translateY(-75px)
}

/* Card Footers */
.tech-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 17px 15%;
}

/* ==== ANIMATIONS ==== */

/* Simple Fade In */
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Fade In and Up */
.fade-rise {
  animation: fade-in-move-up 1s;
}

@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}